absl-py==2.0.0
addict==2.4.0
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.14.1
asttokens==3.0.0
attrs==23.2.0
audioread==3.0.1
azure-cognitiveservices-speech==1.41.1
basicsr==1.4.2
bayesian-optimization==2.0.3
beautifulsoup4==4.12.3
biopython==1.84
cachetools==5.3.2
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==2.1.1
clarabel==0.9.0
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
contourpy==1.2.1
cvxpy==1.5.2
cycler==0.12.1
Cython==3.0.10
deap==1.4.1
decorator==4.4.2
Deprecated==1.2.14
docx==0.2.4
ecos==2.0.14
einops==0.8.0
et-xmlfile==1.1.0
executing==2.2.0
facexlib==0.3.0
filelock==3.9.0
filterpy==1.4.5
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2025.2.0
future==1.0.0
gdown==5.2.0
gitapi==1.0.1
gmssl==3.2.2
google-api-core==2.19.2
google-auth==2.34.0
google-auth-oauthlib==1.1.0
google-cloud-core==2.4.1
google-cloud-translate==3.16.0
googleapis-common-protos==1.65.0
graphviz==0.20.3
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.66.1
grpcio-status==1.66.1
hgapi==1.7.4
huggingface-hub==0.28.1
hyperopt==0.2.7
idna==3.4
imagecodecs==2024.12.30
imageio==2.34.0
imageio-ffmpeg==0.5.1
immutabledict==4.2.0
importlib_metadata==7.1.0
ipython==8.32.0
jedi==0.19.2
Jinja2==3.1.2
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
kiwisolver==1.4.5
lazy_loader==0.4
lib==4.0.0
librosa==0.10.2.post1
lightgbm==4.5.0
llvmlite==0.43.0
lmdb==1.4.1
lxml==5.3.0
Mako==1.3.8
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.9.1
matplotlib-inline==0.1.7
meep==1.0.6
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mmcv==1.4.0
mmcv-full==1.7.2
mne==1.7.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy==0.971
nashpy==0.0.41
networkx==3.0
numba==0.60.0
numpy @ file:///C:/b/abs_7267ja_mqz/croot/numpy_and_numpy_base_1701295083047/work/dist/numpy-1.26.2-cp311-cp311-win_amd64.whl#sha256=f4e43aff0bd2ec1e69abffbe07459b4dcf6ae207942d293dd3c14112aa00d380
oauthlib==3.2.2
opencv-python==4.9.0.80
openpyxl==3.1.2
optuna==4.2.0
ortools==9.10.4067
osqp==0.6.7.post0
packaging==23.2
pandas==2.1.4
parso==0.8.4
patsy==0.5.6
pillow==10.4.0
platformdirs==4.2.0
plotly==5.22.0
pooch==1.8.2
proglog==0.1.10
prompt_toolkit==3.0.50
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.0.0
PuLP==2.9.0
pure_eval==0.2.3
py4j==0.10.9.9
pyaml==25.1.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
pycryptodomex==3.20.0
pydot==2.0.0
Pygments==2.19.1
pyparsing==3.1.2
pyqpanda==3.8.3.2
PySocks==1.7.1
pyswarms==1.3.0
python-dateutil==2.8.2
python-docx==1.1.2
pytorch-tabnet==4.1.0
pytz==2023.3.post1
PyYAML==6.0.1
qdldl==0.1.7.post4
rasterio==1.4.3
realesrgan==0.3.0
regex==2024.11.6
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.5.2
schemdraw @ file:///C:/b/abs_b8xrfv2mdy/croot/schemdraw_1686295752357/work
scikit-image==0.23.1
scikit-learn @ file:///C:/b/abs_d6_krvz8aa/croot/scikit-learn_1714164798159/work
scikit-optimize==0.10.2
scipy==1.11.3
scs==3.2.6
seaborn==0.13.2
simple-pid==2.0.1
six==1.16.0
snowland-smx==0.3.1
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.6
soxr==0.4.0
spectral==0.23.1
SQLAlchemy==2.0.37
stack-data==0.6.3
statsmodels==0.14.2
sympy==1.12
tb-nightly==2.17.0a20240417
tenacity==8.5.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tifffile==2024.2.12
timm==0.6.13
tokenizers==0.21.0
tomli==2.0.1
torch==2.2.2+cu118
torch_geometric==2.5.3
torchaudio==2.2.2+cu118
torchvision==0.17.2+cu118
torchviz==0.0.2
tqdm==4.66.2
traitlets==5.14.3
transformers==4.48.2
typing_extensions==4.11.0
tzdata==2023.3
urllib3==1.26.13
wcwidth==0.2.13
Werkzeug==3.0.1
wrapt==1.16.0
xgboost==2.1.0
yapf==0.40.2
yarl==1.9.4
zipp==3.18.1
